.col-xs-12.col-sm-6.col-md-4
  .image-flip{:ontouchstart => "this.classList.toggle('hover');"}
    .mainflip
      .frontside
        .card
          .card-body.text-center
            %h4.card-title Название задачи
            %p.card-text This is basic card with image on top, title, description and button.
            %a.btn.btn-primary.btn-sm{:href => "#"}
              %i.fa.fa-plus
      .backside
        .card
          .card-body.text-center.mt-4
            %h4.card-title Описание задачи
            %p.card-text This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.
