.col-xs-12.col-sm-6.col-md-4
  .image-flip{:ontouchstart => "this.classList.toggle('hover');"}
    .mainflip
      .frontside
        .card
          .card-body.text-center
            %h4.card-title Название задачи
            %p.card-text= task.title
      .backside
        .card
          .card-body.text-center.mt-4
            %h4.card-title Описание задачи
            %p.card-text= task.description
            %a.btn.btn-primary.btn-sm
            = link_to('Завершить задачу', complete_task_path(task), method: :put)
